body{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

table {
	border: 2px solid black;
	border-collapse: separate;
	border-spacing: 0px;
	margin: auto;
}

td {
	border: 2px solid black;
	height: 96px;
	width: 96px;
	text-align: center;
	font-size: 40px;
}

td.clickable:hover{
	border: 2px solid red;
	/*opacity: 0.5;*/
	color: #006600;
	text-decoration: underline;
}

button {
	padding: 12px 22px;
	border: none;
	color: white;
	background-color: #0080ff;
	font-size: 16px;
	border-radius: 3px;
}